.footer {
  padding: 30px 0;
  background-color: ghostwhite;
  color: black;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.footer-section {
  width: 220px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  font-size: 20px;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

.social-icons a:hover {
  opacity: 0.7;
}

.footer-bottom {
  margin-top: 40px;
  margin-left: 220px;
  font-size: 14px;
  color: #ccc;
}
